body {
   overflow: hidden;
}

img.sunshine {
    height: 150%;
    width: 150%;
    animation: rotate infinite 20s linear;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}