body {
   overflow: hidden;
}

img.sunshine {
    position: absolute;
    height: 225%;
    width: 225%;
    left: -60%;
    top: -60%;
    animation: rotate infinite 20s linear;
  
}

img.smiley {
  position: relative;
  display: inline-block;
  height: 50vh;
  width: 50vh;
  
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}