body {
   overflow: hidden;
}

img.sunshine {
    position: absolute;
    height: 225%;
    width: 225%;
    left: -60%;
    top: -60%;
    animation: rotate infinite 20s linear;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}