body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

.jumbotron h1 {
    display: inline-block;
    font-size: 3rem;
    color: rgb(206, 13, 13);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0,0,0,0.2));
    animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}

.jumbotron img {
    width: 3rem;
    display: inline-block;
    line-height: 5rem;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#github-link {
    float: right;
    color: black;
    padding: 2px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
    transition: .2s;
}

#github-link:hover {
    background-color: black;
    color: white;
}

#github-link img {
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
}