@import url('https://fonts.googleapis.com/css?family=Spartan:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.bg-grey {
    background-color:#e3e3e3;
    padding: 0;
}

.pl-20 {
    padding-left: 20px;
}

.dropdowns {
    h5 {
        line-height: 1.2;

        &:not(:first-child) {
            margin-left: 0.3rem;
        }
    }
}

a {
    &:hover {
        text-decoration: none !important;
    }
}

@media(max-width: 767px) {
    .pl-sm-7 {
        padding-left: 7px;
    }
}

@media(min-width: 768px) {
    .pl-md-20 {
        padding-left: 20px;
    }

    .pl-md-20 {
        padding-right: 20px;
    }
}

.pr-20 {
    padding-right: 20px;
}