//Fonts
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap);


//Colors

$color1: #492B7C;
$color2: #ED8A0A;
$color3: #F6D912;
$color4: #37225a;
$color5: #4e2c00;


//Fonts
$font1: 'Racing Sans One', serif;
$font2: 'Righteous', cursive;
$font3: 'Rubik Mono One', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//LAYOUT START ---------------------------------------------

//DESKTOP
.container {
    display: grid;
    // height: 400vh; //REMOVE THIS
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh auto auto auto auto;
    grid-template-areas: 
        "main main main main"        
        "services services services services"
        "skills skills skills skills"
        "sub-links projects projects projects"
        "footer footer footer footer"; 
    overflow: hidden;   
}

nav {
    position: fixed;
    grid-area: nav; 
    width: 100%;
    height: 8rem;
    z-index: 150;    
    background: #492b7c5b;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
}
main { 
    grid-area: main; 
    margin-top: 8rem;
}
.services { grid-area: services; }
.skills { grid-area: skills; }
.project-sub-links { grid-area: sub-links; }
.projects { grid-area: projects; }
footer { grid-area: footer; }

//FULL MENU WRAPPER
.full-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #492b7c5b;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transition: .5s;    
}

//MEDIA QUERY FOR MOBILE/TABLET LAYOUT
@media only screen and (max-width: 1024px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 55vh auto auto auto auto;
    grid-template-areas: 
        "main"
        "services"
        "skills"
        "projects"
        "footer";    
    }

    nav {
        height: 5rem;
    }

    main {
        margin-top: 5rem;
    }

    .nav-links a {
        display: none;
    }

    .project-sub-links {
        display: none;
    }

    .nav-menu-button {
        display: block;
    }
}

//LAYOUT END -----------------------------------------------

//Container
.container {
    background-color: $color1;
}

// NAV
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font1;  
    
    h1 {
        color: white;
        visibility: hidden;
        width: 50%;
        text-align: center;
    }
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 5%;

    a {
        text-decoration: none;
        padding: .4rem;
        color: white;
        font-size: 1.5rem;
    }
}

.nav-menu-button {
    display: none;  
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 350;
}

.github-symbol {
    margin-right: .5rem;
}

.menu-symbol {
    font-size: 3rem;
    color: $color2;
    opacity: .9;    
    padding: .4rem .2rem;              
}

//Full Page Menu
.nav-menu-button-inner {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

// MAIN
main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: $color1;
    padding: 2rem;
    transition: .2s;
}

#name-container {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: $font2;
    color: white;    

    h2 {
        -webkit-text-stroke: 5px $color1;
        font-size: 10vw;
        position: absolute;
        font-weight: normal;
        font-style: normal;
        width: 100%;
        z-index: 100;

        &:first-child {
           top: 0;     
           text-align: left;  
           padding-left: 3.5vw;
        }

        &:nth-child(2) {
            top: 18vh;
            text-align: right;
            padding-right: 14vw;
        }
    }

    h3 {
        -webkit-text-stroke: 3px $color1;
        font-size: 5vw;
        position: absolute;
        font-weight: normal;
        font-style: normal;
        width: 100%;
        text-align: center;
        top: 42vh;
        padding-right: 15vw;
        z-index: 100;
    }

    .circle {                
        position: absolute;               
        border-radius: 50%;
        z-index: 50;

        &:nth-of-type(1) {
            // background-color: $color2;
            background: linear-gradient(0.45turn,rgba(0,0,0,0), $color2);
            height: 21vw;
            width: 21vw;
            top: 0;
            left: 15vw;
            animation: circle-up-down 3s ease-in-out infinite;
            animation-delay: 2s;
        }

        &:nth-of-type(2) {
            // background-color: $color3;
            background: linear-gradient(0.45turn,rgba(0,0,0,0), $color3);
            height: 35vw;
            width: 35vw;
            top: 5rem;
            left: 28vw;
            animation: circle-up-down 2.5s ease-in-out infinite;
            animation-delay: 2s;
        }

        @keyframes circle-up-down {
            50% {
                transform: translateY(-4vh);
            }
        }

    }
}


//Services
.services {
    background-color: $color4;    
    // -webkit-box-shadow: inset 0px 10px 30px -8px rgba(0,0,0,0.75);
    // -moz-box-shadow: inset 0px 10px 30px -8px rgba(0,0,0,0.75);
    // box-shadow: inset 0px 10px 30px -8px rgba(0,0,0,0.75);
    
    
    h4 {
        font-family: $font1;
        font-size: 4vw;        
        font-weight: normal;
        padding: 1rem 2vw; 
        color: $color1;                        
    }  

    .services-container { 
        padding: 0 2vw 2vh 0;
        font-family: $font3;
        text-align: center;

        span {
            font-size: 4vw;            
            display: inline-block; 
            // -webkit-text-stroke: 2px $color1;   
            font-style: normal;
            font-weight: normal;         
            margin-left: 2vw;
            word-spacing: -1rem;
            color: white;
            
            &:nth-child(3n - 2) {                
                color: $color3;
            }
        }

    }

}

//Skills
.skills {
    h4 {
        font-family: $font1;
        font-size: 4vw;        
        font-weight: normal;
        padding: 1rem 2vw; 
        color: white;                        
    }

    .skills-container {
        padding: 0 2vw 2vh 2vw;
        font-family: $font3;
        text-align: center;
        
        span {
            color: $color1;
            display: inline-block;
            font-size: 1rem;
            // background-color: $color3;
            background: linear-gradient(to right, $color3, $color2);
            padding: 1rem;
            margin-right: .75rem;
            margin-bottom: .75rem;
            cursor: pointer;
            transition: .2s;
            border-radius: 1rem;            

            &:hover {
                transform: scale(1.1);   
                background: linear-gradient(to top right, $color3, $color2);                                                     
            }
        }


    }
}

//MEDIA QUERY FOR MOBILE ITEMS
@media only screen and (max-width: 1024px) {

    //NAV
    .nav-links a {
        display: none;
    }

    .project-sub-links {
        display: none;
    }

    .nav-menu-button {
        display: inline-block;           
    }

    .nav-links {
        justify-content: flex-end;
    }

    //MAIN
    main {
        display: block;
    }

    #name-container {
        h2 {
            // font-size: 7rem;  
            -webkit-text-stroke: 2px $color1;          
    
            &:first-child {
            
               text-align: left;  
            //    padding-left: 0;
            }
    
            &:nth-child(2) {
                // top: 14rem;
                top: 10vh;
                text-align: right;
                // padding-right: 0;
            }
        }
    
        h3 {
            // font-size: 5rem;
            // top: 28rem;
            // padding-right: 15rem;
            -webkit-text-stroke: 1.5px $color1;
            top: 23vh;
        }
    
        .circle {     
                
            &:nth-of-type(1) {
                top: -5vh;
                // left: 5rem;
                width: 28vw;
                height: 28vw;
            }
    
            &:nth-of-type(2) {
                top: 4vh;
                // left: 10rem;
                width: 45vw;
                height: 45vw;
            }
    
    
        }
    }

    //Services
    .services {
        h4 {
            font-size: 3vw;
        }

        .services-container {
            span {
                word-spacing: -.5rem;                
            }
        }
    }

    //Skills
    .skills {
        h4 {
            font-size: 3vw;                     
        }

        .skills-container {
            span {                
                font-size: .8rem;
                padding: .7rem;
                font-size: .7rem;
                border-width: 1px;                
            
                &:hover {
                    border-width: 1px;
                }
            }
    
        }
    }
}

@media only screen and (max-width: 768px) {
    //Services
    .services {
        margin-top: -7vh;

        h4 {
            font-size: 5vw;
        } 
    }

    //Skills
    .skills {
        h4 {
            font-size: 5vw;                     
        }
    }
}

@media only screen and (max-width: 360px) {

}
