//Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

//Colors
$colors: (
    purple: #492b7c,
    dark-purple: #301551,
    orange: #ed8a0a,
    yellow: #f6d912,
    faded-yellow: #fff29c
);

//Variables
$heading_font: 'Roboto Slab', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $heading_font;
    font-size: 1.2rem;
}

//LAYOUT START ---------------------------------------------

//DESKTOP
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 4fr 3fr;
    grid-template-areas: 
        "nav nav nav nav"
        "main main main main"
        "heading heading heading heading"
        "sub-links projects projects projects"
        "footer footer footer footer";    
}

nav { grid-area: nav; }
main { grid-area: main; }
.heading { grid-area: heading; }
.project-sub-links { grid-area: sub-links; }
.projects { grid-area: projects; }
footer { grid-area: footer; }

//MEDIA QUERY FOR MOBILE
@media only screen and (max-width: 800px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 4fr 3fr;
    grid-template-areas: 
        "nav"
        "main"
        "heading"
        "projects"
        "footer";    
    }

    .project-sub-links {
        display: none;
    }
}

//LAYOUT END -----------------------------------------------

// NAV
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($map: $colors, $key: purple);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.nav-links a {
    text-decoration: none;
    background-color: map-get($map: $colors, $key: yellow);
    padding: .2rem;
    border-radius: .4rem;
    color: map-get($map: $colors, $key: purple);
}

nav h1 {
    width: 50%;
    text-align: center;    
}

// MAIN
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}