//Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

//Variables
$heading_font: 'Roboto Slab', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $heading_font;
    font-size: 1.2rem;
}

//LAYOUT START ---------------------------------------------

//DESKTOP
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 4fr 3fr;
    grid-template-areas: 
        "nav nav nav nav"
        "main main main main"
        "heading heading heading heading"
        "sub-links projects projects projects"
        "footer footer footer footer";    
}

nav {
    background: #a7ffeb;
    grid-area: nav;
}

main {
    background: red;
    grid-area: main;
}

.heading {
    background-color: green;
    grid-area: heading;
}

.project-sub-links {
    background-color: yellowgreen;
    grid-area: sub-links;
}

.projects {
    background-color: blue;
    grid-area: projects;
}

footer {
    background-color: darkmagenta;
    grid-area: footer;
}

//MEDIA QUERY FOR MOBILE
@media only screen and (max-width: 800px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 4fr 3fr;
    grid-template-areas: 
        "nav"
        "main"
        "heading"
        "projects"
        "footer";    
    }

    .project-sub-links {
        display: none;
    }
}

//LAYOUT END -----------------------------------------------
