.main-panel {
    text-align: center;
    background-color: #FFDE03;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #850097;
    margin-top: 10vh;
}

@font-face {
    font-family: "truelies";
    src: url(true_lies.woff) format('woff');
}

h1 {
    font-family: truelies;
    color: #850097;
    position: relative;
    left: -.5rem;    
    top: 2rem;
    display: inline-block;
    cursor: cell;
}

.shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



.chat-panel {
    background-color: #8500971c;
    margin-top: 4rem;
    border-radius: 5px;
    padding: 1rem;
    max-height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chat-panel::-webkit-scrollbar {
    display: none;
}

#a-chat div {
    background-color: #850097;
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;    
    font-size: larger;
    transition: .1s;
}

#a-chat div:hover {
    background-color: #690077;
    margin: .5rem .1rem;
    padding: .5rem .9rem;
}

#a-chat div span {
    float: left;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 2px 5px;
    border-radius: 5px;
    transition: .5s;
    font-size: medium;
}

#a-chat div span:hover {
    background-color: rgba(0, 0, 0, 0.863);
}

#send-space {
    background-color: #8500971c;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
    text-align: left;
}

#send-space textarea {
    border-radius: 5px;
    border: none;  
    padding: 1rem;  
    width: 85%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    min-height: 6rem;
    max-height: 6rem;
    resize: none;
    border: .1rem solid #850097;
    transition: .1s;

    /* Text Styling */
    font-size: 1.2em;
}

#send-space textarea:focus {    
    border-width: .3rem;
    border-right-width: .1rem;
    padding: .8rem;
    outline: none;
}

#send {
    background-color: #850097;
    color: white;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 15%;
    height: 6rem;
    line-height: 6rem;
    display: inline-block;
    border: none;
    vertical-align: top;
    text-align: center;
    cursor: pointer;    
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 1s;
  }
.ripple:hover {
background: #850097 radial-gradient(circle, transparent 1%, #9900ad 1%) center/15000%;
}
.ripple:active {
background-color: #850097;
background-size: 100%;
transition: background  0s;
}

#login-container {
    position: absolute;
    right: 1rem;
    top: 2rem;
    cursor: pointer;
    transition: .2s;
}

#user-label {
    padding: 1rem;
    padding-right: 0rem;
    background-color: #850097;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: .2s;
}

#login-container span {
    background-color: white;
    color: #850097;
    padding: 1rem;
    margin: 0rem .05rem .1rem .6rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#login-container:hover #user-label{
    background-color: #9b00af;
}

#login-dashboard {
}

#userid-container {
    background-color: #9b00af;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    transition: .5s;
}

#userid-container span {
    margin: 0 1rem;    
}

#userid-container input {
    border-radius: 25px;
    border: none;
    height: 2.5rem;
    width: 15rem;
    margin: .3rem;
    outline: none;
    padding: .5rem;
    transition: .5s;
}

#userid-container input:focus {
    border-radius: 5px;
}

#userid-container:focus-within{
    border-radius: 5px;
    background-color: #b300ca;
}

#login-dashboard input[type="submit"] {
    /* Positioning */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    /* Designing */
    background-color: #FFDE03;
    border: .3rem solid #9900ad;
    color: #9900ad;
    font-weight: bolder;
    padding: .6rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: .5s;
    outline: none;
}

#login-dashboard input[type="submit"]:hover {
    background-color: #9900ad;
    border: .3rem solid white;
    color: #FFDE03;
}

#login-dashboard input[type="submit"]:active {
    transform: scale(0.8);
}