.main-panel {
    text-align: center;
    background-color: #FFDE03;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #850097;
    margin-top: 10vh;
}

@font-face {
    font-family: "truelies";
    src: url(true_lies.woff) format('woff');
}

h1 {
    font-family: truelies;
    color: #850097;
    position: relative;
    left: -.5rem;    
    top: 2rem;
    display: inline-block;
    cursor: cell;
}

.shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



.chat-panel {
    background-color: #8500971c;
    margin-top: 4rem;
    border-radius: 5px;
    padding: 1rem;
}

#a-chat div {
    background-color: #850097;
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;    
}

#send-space {
    background-color: #8500971c;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
    text-align: left;
}

#send-space textarea {
    border-radius: 5px;
    border: none;  
    padding: 1rem;  
    width: 85%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

#send-space textarea:focus {
    border-radius: 5px;
    border: none;
    outline: none;
}

#send {
    background-color: #850097;
    color: white;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 15%;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    border: none;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}